
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login_form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.login h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login_form-container {
  margin-bottom: 20px;
}

.input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.btn {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #3367d6;
}

.message {
  margin-top: 20px;
  font-size: 14px;
}

.login_register-link {
  color: #4285f4;
  text-decoration: none;
}

.login_register-link:hover {
  text-decoration: underline;
}
