<section class="details" *ngIf="livre">
    <div class="details-content">
      <img src="{{ livre.image }}" />
      <div>
        <h2>{{ livre.titre }}</h2>
        <p>{{ livre.auteur }}</p>
        <p>{{ livre.genre }}</p>
        <p>{{ livre.prix }}</p>
        <p>{{ livre.description }}</p>
        <p>{{ livre.resume }}</p>
        <button (click)="addToCart(livre)">Ajouter au Panier</button>
        <a (click)="retourALaListeDesLivres()">Retour à la liste des livres</a>
      </div>
    </div>
</section>