<app-search-bar (searchEvent)="performSearch($event)">
</app-search-bar>

<button (click)="sortBooks()">Trier par prix croissant/décroissant</button>

<section class="home">
  <div *ngFor="let book of filteredBooks">
    <img src="{{ book.image }}" />
    <h2>{{ book.titre }}</h2>
    <p>{{ book.genre }}</p>
    <p>{{ book.prix }}</p>
    <a [routerLink]="['/livre',book.id]">Afficher les détails</a>
    <!-- {# tu récupères l'id du livre avec {{book.id}} dans l'appel pour la page des détails#} -->
  </div>
</section>