.home {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;

  &_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  &_presentation {
    text-align: center;
  }

  &_form {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    label {
      margin-right: 0.5rem;
      color: #f65c5c;
      font-weight: bold;
    }

    input {
      border: 1px solid #f65c5c;
      padding: 0.5rem;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
    }
  }

  &_quiz-btn {
    margin-top: 2rem;
  }
}

.home img {
  height: 250px;
  width: 200px;
}

/* home.component.css */
.trie button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  margin-left: 90%;
}

.trie button:hover {
  background-color: #2980b9;
}

.trie span {
  font-size: 12px;
  margin-left: 5px;
}

.entete h1{
  text-align: center;
}



.filters button{
  background-color: #2980b9;
  color: #ffffff;
  margin-bottom: 5px;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligner les boutons à gauche */
  margin-bottom: 10px;
  margin-right: 10px;
}
