.home {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  &_presentation {
    text-align: center;
  }

  &_form {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    label {
      margin-right: 0.5rem;
      color: #f65c5c;
      font-weight: bold;
    }

    input {
      border: 1px solid #f65c5c;
      padding: 0.5rem;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
    }
  }

  &_quiz-btn {
    margin-top: 2rem;
  }
}

.home img {
  height: 250px;
  width: 200px;
}
