<div class="entete">
  <h1>Catalogue de livres</h1>
</div>

<!-- search bar -->
<app-search-bar (searchEvent)="performSearch($event)">
</app-search-bar>

<!-- button sort -->
<div class="trie">
  <button (click)="sortBooks()">
    Trier par prix
    <span *ngIf="sortDirection === 'asc'">&#9650;</span>
    <span *ngIf="sortDirection === 'desc'">&#9660;</span>
  </button>
</div>



<section class="home">
  <div class="filters">
    <p>Rechercher par genre</p>
    <button (click)="filterByGenre('Fantastique')">Fantastique</button>
    <button (click)="filterByGenre('Enfant')">Enfant</button>
    <button (click)="filterByGenre('Roman')">Roman</button>
    <button (click)="filterByGenre('Science-Fiction')">Science-Fiction</button>
    <button (click)="filterByGenre(null)">Tous les genres</button>
  
  </div>
  <div *ngFor="let book of filteredBooks">
    <img src="{{ book.image }}" />
    <h2>{{ book.titre }}</h2>
    <p>{{ book.genre }}</p>
    <p>{{ book.prix | priceFormat }}</p>
    <a [routerLink]="['/livre',book.id]">Afficher les détails</a>
  </div>
</section>